.advan {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advan-inner {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.advan-potential {
    height: auto;
    width: 100%;
    max-width: 720px;
    background-color: #F8F8F8;
    margin: 30px 0 24px;
    border-radius: 30px;
    padding: 30px;
    
}

.advan-content {
    max-width: 100%;
}

.advan-title {
    margin-bottom: 32px;
    color: var(--color-black);
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    letter-spacing: -0.96px;
}

em {
    color: var(--color-black);
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.96px;
    background-color: var(--color-light-yellow);
}

.advan-text {
    font-style: normal;
    line-height: 22px;
    letter-spacing: -0.32px;
}

.advan-button {
    width: 267px;
    max-width: 100%;
    height: 60px;
    background-color: var(--color-yellow);
    padding: 16px;
    border-radius: 12px;
    margin-top: 24px;
    text-align: center;
    cursor: pointer;
}

.advan-center {
    color: var(--color-black);
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
}

.advan_pictures {
    height: auto;
    width: 100%;
    max-width: 568px;
    border-radius: 30px;
    margin: 25px 0 24px;
    background-color: var(--color-light-yellow);
    text-align: center;
}

.advan__pictures-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.advan_image-container {
    text-align: center;
}

.advan_tutor,
.advan_comp,
.advan_mac {
    position: relative;
}

.advan_comp {
    top: -65px;
    z-index: 2;
    width: 100%;
    max-width: 359.72px;
    height: auto;
    position: relative;
}

.advan_mac {
    z-index: 3;
    top: -250px;
    width: 46px;
    height: 56px;
    position: relative;
}

/* Стилі для секції statistics */
.statistics {
    
    max-width: 1440px;
    /* width: 100%;  */
    margin: 40px auto; 
    padding: 40px 20px;
    border: 2px dashed var(--color-light-yellow);
    border-radius: 30px;
   
}

.statistics .container {
    max-width: 1067px;
    width: 100%;
}

.statistics_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.statistics_tutors {
    text-align: center;
}

.number_chifr {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.56px;
}

.number {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.28px;
}

/* Медіа-запити */
@media screen and (max-width: 767px) {
    .advan-inner,
    .statistics_wrapper {
        grid-template-columns: 1fr;
    }

    .advan-potential,
    .advan_pictures,
    .statistics {
        max-width: 100%;
    }

    .advan-potential {
        margin: 20px 0;
        padding: 20px;
    }

    .advan-content,
    .statistics_wrapper {
        margin: 0 20px;
    }

    .advan-title,
    em {
        font-size: 36px;
        line-height: 42px;
    }

    .advan-text {
        width: auto;
    }

   .advan-button {
       width: 100%;
       max-width: 100%;
   }

    .statistics_tutors {
        max-width: 100%;
    }
    

    .advan_comp,
    .advan_comp {
        top: 0;
    }

    .advan_mac {
        top: -150px;
    }

    .statistics_tutors {
        flex-direction: column;
        gap: 10px;
    }

    .number_chifr,
    .number {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .advan-inner,
    .statistics_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .advan-potential,
    .advan_pictures,
    .statistics {
        max-width: 100%;
    }

    .advan-potential {
        margin: 20px 0;
    }

    .advan-button,
    .statistics_tutors {
        max-width: 100%;
    }

    .advan_comp {
        top: -30px;
    }

    .advan_mac {
        top: -120px;
    }
}

@media screen and (min-width: 1440px) {
    .advan-inner,
    .statistics_wrapper {
        grid-template-columns: 1fr 1fr;
    }

    .advan-potential,
    .advan_pictures,
    .statistics {
        max-width: 100%;
    }

    .advan-potential {
        margin: 40px 0;
    }

    .advan-button,
    .statistics_tutors {
        max-width: 100%;
    }

    .advan_comp {
        top: -40px;
    }

    .advan_mac {
        top: -160px;
    }

    .statistics_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}