<header class="header">
  <div class="container">
    <div class="header-row">
      <div class="header-logo">
        <a href="./index.html">
          <svg class="header-logo-icon">
            <use href="../assets/img/sprite.svg#ukraine" alt="LearnLingo logo"></use>
          </svg>
          <!-- <img
            src="../assets/img/ukraine.svg"
            alt="LearnLingo logo"
            height="28"
            width="28"
          /> -->
        </a>
        <a href="./index.html" class="text-center">LearnLingo</a>
      </div>

      <div class="header-nav">
        <nav>
          <ul class="header-nav_list navigation_lit">
            <li class="header-nav_item navigation_item">
              <a class="header-nav_link navigation_link" href="./index.html"
                >Home</a
              >
            </li>
            <li class="header-nav_item navigation_item">
              <a class="header-nav_link navigation_link" href="./teachers.html"
                >Teachers</a
              >
            </li>
            <li class="header-nav_item navigation_item">
              <a class="header-nav_link navigation_link" href="./favorites.html"
                >Favorites</a
              >
            </li>
          </ul>
        </nav>
      </div>

      <div class="header-login">
        <nav class="header-login-user">
          <a href="/LogIn">
            <svg class="header-login-icon">
              <use href="../assets/img/sprite.svg#log-in-01-f" alt="LogIn"></use>
            </svg>
            <!-- <img
              src="../assets/img/log-in-01-f.svg"
              alt="SignIn"
              width="20"
              height="20"
            /> -->
          </a>
          <a href="/LogIn" id="logInButton">Log in</a>
        </nav>
        <div class="header-login-button">
          <button class="button" id="registrationButton">Registration</button>
        </div>
        <!-- <a href="#" class="button">Registration</a> -->
      </div>
    </div>
  </div>
</header>
